ul {
  list-style-type: none;
}

li > span {
  margin-left: 12px;
}

.expanded {
  font-weight: bold;
  border-left: 1px solid black;
}

li {
  margin: 12px;
  background-color: antiquewhite;
  width: fit-content;
  padding: 12px;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item button {
  margin-left: 12px;
}
